@model MVC_TEST.Models.NewsModels
@using Newtonsoft.Json;



<table class="mb-0 table table-borderless">
    <thead>
        <tr>
            <th>#</th>
            <th>หัวข้อ</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.LNews != null)
        {
            foreach (var item in Model.LNews)
            {
                var Allnew = JsonConvert.SerializeObject(item);

                <tr>
                    <th scope="row">@item.id</th>
                    <td>@item.titel</td>
                    <td>
                        <button class="btn btn-success" onclick="View(@Allnew)" data-toggle="modal" data-target="#ViewModal">View</button>
                        <button class="btn btn-warning" onclick="Edit(@Allnew)" data-toggle="modal" data-target="#EditModal">Edit</button>
                        <button class="btn btn-danger" onclick="Delete(@Allnew)">Delete</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table> 
